﻿
/*** The All So Important RESET! ***/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
   margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

a img {border: none}

aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}

/************************ Basics ************************/
html {
	width: 100%;
	height: 100%;
}

#header {
    background: -moz-linear-gradient(0% 100% 90deg, rgba(30, 30, 30, 0.95), rgba(50, 50, 50, 0.95)) repeat scroll 0 0 transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(0, 0, 0, 0.8) inset;
	
	-webkit-box-shadow: rgba(0,0,0,0.7) 0 1px 20px,rgba(0,0,0,0.8) 0 1px 1px inset;
	-moz-box-shadow: rgba(0,0,0,0.7) 0 1px 20px,rgba(0,0,0,0.8) 0 1px 1px inset;
    height: 70px;
    min-width: 720px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#content {
	float: left;
    overflow: hidden;
    padding: 85px 0 30px 20px;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: #fff;
	background-image: url(../images/stucco.png);
	color: #191919;
	margin: 0 0 1px; height: 100%; 
	line-height: 1.5;
}

body: before {
   content: "";
   position: fixed;
   top: -10px;
   left: 0;
   width: 100%;
   height: 10px;
   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   z-index: 100;
}

p {
	margin-bottom: 7px;
}

@font-face {
   font-family: 'BoycottRegular';
   src: url('../fonts/BOYCOTT_-webfont.eot');
   src: url('../fonts/BOYCOTT_-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BOYCOTT_-webfont.ttf') format('truetype'),
        url('../fonts/BOYCOTT_-webfont.svg#BoycottRegular') format('svg');
   font-weight: normal;
   font-style: normal;
}

header {
	position: relative;
	background: #191919 ;
	width: 100%;
	height: 100px;
	display: block;
}

header#bottom { 
	 margin: 72px auto; 
}


footer {
	height: 100px;
	clear: both;
	width: 100%;
	margin: 0 auto;
	background-color: #191919;
	background-image: url("../images/topbrush-border.png") repeat-x; 
	color: #fff;
}

/************************ Containers ************************/
#container, #container_left, #container_right {
	position: relative;
	width: 100%;
}

#container {
    float: left;
    opacity: 1;
    width: 100%;
	position: relative;
	background-color: transparent;
}

#menu {
    float: right;
    position: relative;
}

#logo {
    float: left;
    margin: 10px 20px;
    position: relative;
    z-index: 99;
}


.news {
	float: left;
	width: 200px;
	position: relative;
	background: transparent;
	padding: 15px;
	padding-right: 100px;
	margin-bottom: 10px;
}

.group3 {
	float: left;
	width: 200px;
	position: relative;
	background: transparent;
	padding: 15px;
	margin-bottom: 10px;
}

#intro {
	width: 960px;
	position: relative;
	float: left;
	height: auto;
	padding: 10px;
	background: transparent;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
}

/************************ Navigation Menu ************************/
#controls {
    float: right;
    position: relative;
}

#controls .buttons {
    float: right;
    margin: 17px 20px;
}

#controls .buttons a:first-of-type {
    border-radius: 5px 0 0 5px;
}

#controls .buttons a:last-of-type, .searchBox a:last-of-type {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.7);
}


#controls .buttons a, #followinkstagram a, .searchBox a, #settingsForm .simplebutton {
    border-right-style: none;
    color: rgba(255, 255, 255, 0.4);
    float: left;
    font: bold 13px/25px Arial,Helvetica,"Helvetica Neue",Geneva,sans-serif;
    height: 25px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 254, 255, 0.1);
}

#controls .buttons a {
    overflow: hidden;
}

#controls .buttons a.active span {
    background-position: -278px -79px;
    color: #EEEEEE;
    text-shadow: 0 1px #111111;
}

.simplebutton {	
	background: -webkit-gradient(linear,0% 0,0% 100%,to(rgba(255, 255, 255, 0.15)),from(rgba(255, 255, 255, 0.25)));
	background: -moz-linear-gradient(0% 100% 90deg,rgba(255, 255, 255, 0.15),rgba(255, 255, 255, 0.25));
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(255, 255, 255, 0.15) inset;
	-webkit-box-shadow: rgba(255,255,255,0.10) 0 1px 1px,rgba(255,255,255,0.15) 0 1px 1px inset;
	-moz-box-shadow: rgba(255,255,255,0.10) 0 1px 0,rgba(255,255,255,0.15) 0 1px 1px inset;
	text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}

.simplebutton:active, a.simplebutton.active {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 2px 10px rgba(0, 0, 0, 0.7) inset;
}

#controls #feedLink span {
    background-position: 0 0;
}

#controls #feedLink.active span {
    background-position: 0 -15px;
}

#controls #meLink span {
    background-position: -15px 0;
}

#controls #meLink.active span {
    background-position: -15px -15px;
}

#controls #likesLink span {
    background-position: -60px 0;
}

#controls #likesLink.active span {
    background-position: -60px -15px;
}

#controls #popularLink.active span {
    background-position: -30px -15px;
}
#controls #popularLink span {
    background-position: -30px 0;
}



#controls .buttons a span.image {
    background: url("../images/menu.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 15px;
    margin: 6px 0 5px 15px;
    padding: 0;
    width: 15px;
}

#controls .buttons a span, .searchBox a span {
    display: block;
    float: left;
    padding: 0 14px 0 5px;
}


#controls .buttons a.noicon span {
    background: none repeat scroll 0 50% transparent;
    padding: 0 16px;
}

#searchBox {
    float: right;
    margin-left: 10px;
}

#searchBox input {
    border: 0 none;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1), 0 0 1px #000000 inset, 0 1px 0 #000000 inset, 0 -1px 0 #000000 inset, 1px 0 0 #000000 inset;
    color: #222222;
    font-family: Arial,Helvetica,"Helvetica Neue",Geneva,sans-serif;
    font-size: 14px;
    height: 27px;
    opacity: 1;
    width: 170px;
}

#controls #searchBox a span, .searchBox a span {
    background: url("../images/search.png") no-repeat scroll 8px 4px transparent;
    padding: 0 16px;
}


#searchBox > span {
    float: left;
}

#searchButton {
    border-radius: 5px 5px 5px 5px !important;
	margin-right: 8px;
}

.clearing {
	clear: both;
	display: inline;
	width: 100%;
	height: 0;
	overflow: hidden;
}



/* ---------- gallery styles start here ----------------------- */
.gallery {
	list-style: none;
	margin: 0;
	padding: 0;
}

.gallery li {
	float: left;
	position: relative;
	background: none;
}

.gallery img {
	border-radius: 5px 5px 5px 5px;
    margin-right: 50px;
	margin-bottom: 50px
}

.gallery a:hover img {
	border-color: #000;
}

.gallery span {
	width: 185px;
	height: 134px;
	display: block;
	position: absolute;
	top: -6px;
	left: 3px;
	background: url(../images/brush-border.png) no-repeat;
}

#detailed-content {
   float: left;
   width: 400px;
   margin-left: 40px;
}

.gallery a {
	text-decoration: none;
}

img {
	border: none;
}

#sidebar1 {
    float: left;
    padding-left: 10px;
    padding-right: 20px;
    width: 180px;
}

#sidebar2 {
   float: left;
   padding-left: 35px;
   padding-top: 100px;
   width: 250px;
}

/* sidebar and footer widget blocks */
aside h3 {
font-size: 14px;
color: #333;
}

aside ul {
list-style: none;
color: #333;
margin: -15px 0 15px 25px;
}

aside li a {
color: #aaa;
}

aside li a:hover {
color: #333;
}

aside  li {
border-bottom: 1px dotted #ccc;}

.alignleft {
   float: left;
   padding-right: 10px;
}

.alignright {
   float: right;
   padding-left: 10px;
}


