<!-- basic user template -->
<script type="text/template" id="basic-user-template">
 <a><img src="<%= images.low_resolution.url %>" /> </a> 
</script>


<script type="text/template" id="caption-user-tmpl">
	<div class='wrapper'>  
		 <a><img src="<%= images.low_resolution.url %>" /> </a> 
	</div>  
</script>

<!--Default menu template -->
<script type="text/template" id="default-menu-tmpl">
	<div class="buttons">
	<a title="Popular Media" alt="Popular Media" class="simplebutton" href="#/popular/page/1" id="popularLink"><span class="image"></span><span class="text">Popular</span></a>
	<a class="simplebutton noicon" href="https://instagram.com/oauth/authorize/?client_id=8caea5d76177434ab8cd8ab063f8a440&redirect_uri=http://localhost:8080/TEST/test&response_type=token"><span class="text">Login via Instagram</span></a>
	</div>
</script>

<!-- full menu template -->
<script type="text/template" id="auth-menu-tmpl">
	<div class="buttons">
		<a alt="My Feed" title="My Feed" class="simplebutton" href="#/feed/page/1" id="feedLink"><span class="image"></span><span class="text">Feed</span></a>
		<a title="Popular Media" alt="Popular Media" class="simplebutton" href="#/popular/page/1" id="popularLink"><span class="image"></span><span class="text">Popular</span></a>
		<a class="simplebutton noicon" id="logout" href=""><span class="text">Log out</span></a>
		<div id="searchBox">
			<span><input type="text" id="search" placeholder=" search by Tag" value=""></span>
			<a class="simplebutton" id="searchButton" href="javascript:void(0);"><span>&nbsp;</span></a>
		</div>
	</div>
</script>
